absl-py==2.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
asgiref==3.8.1
attrs==25.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==2.0.12
cloudinary==1.42.2
coloredlogs==15.0.1
contourpy==1.3.1
cycler==0.12.1
dill==0.3.8
Django==5.1.6
django-cors-headers==4.7.0
django-environ==0.12.0
et_xmlfile==2.0.0
filelock==3.17.0
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
humanfriendly==10.0
idna==3.10
jax==0.5.1
jaxlib==0.5.1
joblib==1.4.2
kiwisolver==1.4.8
matplotlib==3.10.1
mediapipe==0.10.21
ml_dtypes==0.5.1
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
numpy==1.26.4
onnxruntime==1.20.1
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
packaging==24.2
pandas==2.2.2
pillow==10.2.0
propcache==0.2.1
protobuf==4.25.6
psycopg==3.2.5
psycopg-binary==3.2.5
pyarrow==19.0.1
pycparser==2.22
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
sentencepiece==0.2.0
six==1.17.0
sounddevice==0.5.1
sqlparse==0.5.3
sympy==1.13.3
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.20
xxhash==3.5.0
yarl==1.18.3
